<app-title
  [projectName]="'test title'"
  [projectType]="'pruebas'"
  [stage]="'testing'"
  [deliverables]="'UI, Front-end'"
  [coverUrl]="'assets/img/projects/test/test-cover.jpeg'">
</app-title>

<div class="project-content">
    <section class="introduction">
        <span>Introduction</span>
        <p>
            Amidst a global pandemic, Upwork embarked on an ambitious project to transform its business. Seeing an opportunity to lead the new world of work, they tapped Metalab to set a product vision, design key flows, and architect a system to inform all future design decisions.
        </p>
    </section>

    <section class="full-image">
        <img src="assets/img/projects/test/1.jpg" alt="">
    </section>

    <section class="topic">
        <span>Introduction</span>
        <p>
            Amidst a global pandemic, Upwork embarked on an ambitious project to transform.
        </p>
    </section>

    <section class="doble-image">
        <img src="assets/img/projects/test/1.jpg" alt="">
        <div class="img-txt">
            <img src="assets/img/projects/test/1.jpg" alt="">
            <p>
                Much of our early design contributions for Uber's core app are still felt in the product today — from designing the initial fare splitting feature set to rolling out rider/driver preferences.
                <br>
                The devices change but the user experience foundations remain.
            </p>
        </div>
    </section>
</div>