<app-title
  [projectName]="'test title'"
  [projectType]="'pruebas'"
  [stage]="'testing'"
  [deliverables]="'UI, Front-end'"
  [coverUrl]="'assets/img/projects/test/test-cover.jpeg'">
</app-title>

<h1>lA AMBICIÓN AMBICIOSA</h1>

<div>
    <span>test</span>

<h1>lA AMBICIÓN AMBICIOSA</h1>
</div>
<div>
    <span>test</span>

<h1>lA AMBICIÓN AMBICIOSA</h1>
</div>
<div>
    <span>test</span>

<h1>lA AMBICIÓN AMBICIOSA</h1>
</div>
<div>
    <span>test</span>

<h1>lA AMBICIÓN AMBICIOSA</h1>
</div>
<div>
    <span>test</span>

<h1>lA AMBICIÓN AMBICIOSA</h1>
</div>
<div>
    <span>test</span>

<h1>lA AMBICIÓN AMBICIOSA</h1>
</div>