@import '../../../styles.scss';

app-nav-bar{
    position: absolute;
    width: 100%;
    z-index: 2;
}
.layout{
    padding: 2rem;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    font-weight: 300;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .container{
        width: 100%;
        height: 100%;
        max-height: 720px;
        display: flex;
        align-items: flex-end;
        gap: 3rem;
        .wrap-container{
            width: 100%;
            height: 100%;
            max-height: 720px;
            display: flex;
            justify-content: flex-end;
            gap: 2rem;

            .projects-window {
                position: absolute;  
                width: 500px;      
                height: 80%; 
                top:10%;
                left: 200px;
                background-size: cover;
                background-position: center;
                transition: background-image 0.2s ease-in-out; 
                z-index: 10;
              }

            #profile-content{
                max-width: 600px;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                position: relative;
                #profile{
                    display: grid;
                    gap: 1rem;
                    #profile-data{
                        display: grid;
                        span:first-of-type{
                            font-size: 24px;
                        }
                        span:last-of-type{
                            font-size: 14px;
                        }
                    }
                    #prifle-description{
                        font-size: 14px;
                    }
                }
            }
            #experience-container{
                display: grid;
                grid-template-areas: "date detail";
                grid-template-columns: 120px 1fr;
                width: 100%;
                gap: 2rem;
                .item-date{
                    grid-area: date;
                    width: fit-content;
                    font-size: 1rem;
                    // font-weight: 500;
                }
                .item-role{
                    grid-area: detail;
                    display: grid;
                    gap: .5rem;
                    .role-title{
                        font-size: 1rem;
                        // font-weight: 400;
                    }   
                    p{
                        font-size: 14px;
                        font-weight: 300 !important;
                    }
                    .role-tags{
                        display: flex;
                        gap: 1rem;
                        .tag{
                            background-color: var(--background-alpha);
                            padding: .3rem .5rem;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
       
    }
}

.scrolling{
    // width: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
    font-weight: 300 !important;
    #scroll-line{
        width: 100px;
        height: 1px;
        background-color: var(--text-color) !important;
        transform: translateY(2px);
    }
}

app-sidebar{
    // z-index:100;
    position: relative;
}