<app-nav-bar></app-nav-bar>
<div class="layout">
    
    <div class="container">
        <app-sidebar></app-sidebar>

       <div class="wrap-container">
        
        <app-windows-content></app-windows-content>
        <div id="profile-content">
            <section id="profile">
                <div id="profile-data">
                    <span>Joel Subiabre</span>
                    <span>Product Designer - Front-end Developer</span>
                </div>

                <p id="prifle-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quas nesciunt dolore necessitatibus est iure quis repellendus possimus, sequi neque tempore sit, dolores molestiae voluptatum tempora esse reprehenderit, modi officia.</p>
            </section>

            <section id="experience-container">
                <div *ngFor="let _ of [].constructor(3); let i = index" class="experience-item">
                    <span class="item-date">2020 - 2024</span>
                    <div class="item-role">
                        <span class="role-title">Role - Company</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis explicabo itaque praesentium sunt harum voluptatem aut temporibus mollitia blanditiis? Quaerat odio ipsum beatae fugit repudiandae, minima obcaecati similique est culpa.</p>
                        <div class="role-tags">
                            <span *ngFor="let _ of [].constructor(3); let i = index" class="tag">React</span>
                        </div>
                    </div>
                </div>
            </section>

            <div class="scrolling">
                <ng-icon name="bootstrapArrowDownCircle"/>
                <span>Continue scrolling</span>
                <div id="scroll-line"></div>
            </div>

        </div>
       </div>
    </div>
</div>