<app-nav-bar></app-nav-bar>
<div class="layout">
    
    <div class="container">
        <div class="sidebar" #sidebarElement>
            <app-sidebar (hoverProject)="setCover($event)" (projectClicked)="handleProjectClick($event)"></app-sidebar>
        </div>


       <div class="wrap-container">
            <div #windowsProjects class="projects-window" [ngStyle]="{'background-image': 'url(' + (currentCover ? currentCover : defaultCover) + ')'}"> </div>
        
            <div #profileElement id="profile-content">
                <section id="profile">
                    <div id="profile-data">
                        <span>Joel Subiabre</span>
                        <span>Product Designer - Front-end Developer</span>
                    </div>

                    <p id="prifle-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quas nesciunt dolore necessitatibus est iure quis repellendus possimus, sequi neque tempore sit, dolores molestiae voluptatum tempora esse reprehenderit, modi officia.</p>
                </section>

                <section *ngFor="let experience of experiences" id="experience-container">
                    <span class="item-date">{{experience.date}}</span>
                        <div class="item-role">
                            <span class="role-title">{{experience.role}}</span>
                            <p>{{experience.detail}}</p>
                            <div class="role-tags">
                                <span *ngFor="let tag of experience.tags" class="tag">{{tag}}</span>
                            </div>
                        </div>
                </section>

                <div class="scrolling">
                    <ng-icon name="bootstrapArrowDownCircle"/>
                    <span>Continue scrolling</span>
                    <div id="scroll-line"></div>
                </div>

            </div>

            <div #projectContainer class="selected-project" >
                <!-- aca se debe cargar el proyecto seleccionado  -->
            </div>
       </div>
    </div>
</div>