.windows-content {
    height: 100% !important;
    width: 450px;
    background-color: #ffffff;
    display: flex;
    position: absolute; 
    top: 0;
    left: 35%;
    z-index: 10;
  }

.windows-content {    
    .show {
      display: flex;
    }
  }
  