<div class="container">
    <div class="wrap">
        <div class="menu-items">
            <span>Sobre mi</span>
            <span>Blog</span>
            <span>Contacto</span>
        </div>
        <div class="works">
            <span>Work</span>
            <ul>
                <li *ngFor="let work of works; let i = index" 
               
                    (mouseenter)="onMouseEnter(work.cover)" 
                    (mouseleave)="onMouseLeave()"
                    (click)="onClickProject(work.name)">
                    <span>{{ work.name }}</span>
                </li>
            </ul>

        </div>
        <div class="social-media">
            <div class="work-item">
                <ng-icon name="bootstrapGithub"/>
            </div>
            <div class="work-item">
                <ng-icon name="bootstrapInstagram"/>
            </div>
            <div class="work-item">
                <ng-icon name="bootstrapTwitterX"/>
            </div>
            <div class="work-item">
                <ng-icon name="bootstrapLinkedin"/>
            </div>
        </div>
    </div>
</div>