:root {
  --background-color: #ffffff;
  --text-color: #000000; 
  --background-alpha: #00000025;
}

body.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
  --background-alpha: #ffffff25
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cursor-circle {
  position: fixed;
  pointer-events: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--text-color);  // Color visible para pruebas
  transform: translate(-50%, -50%);
  // transition: all 0.1s ease;
  z-index: 9999;
}s

.hover-effect {
  transform: scale(1.5); // Hace el cursor más grande al hacer hover
  border-color: blue; // Cambia el color del borde en hover
}

.main-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

body{
    background-color: var(--background-color);
    color: var(--text-color);
    transition: .3s;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    cursor: none !important;
      // overflow: hidden;
}



/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}